

.container{
    width: 100%;
    //margin-left: 4%;
    //border: 2px solid;
    margin-top: 15px;
    margin-bottom: 7px;
}

.address-type{
    display: flex;
    //border: 2px solid;
    height: 30px;
}

.address-type p{
    font-weight: 600;
    padding-right: 20px;
    margin-top: 5px;
    margin-left: 3px;
}

.address-type button{
    background-color: white;
    border: none;
    color: #A03037;
    cursor: pointer;
    margin-top: 3px;
}


.address-details{
    margin-left: 5px;
}

.address-details span{
    font-weight: 500;
}

.address-details .address-details-header{
    font-weight: 600;
}

.input-fields{
    margin-left: 5px;
    width: 100%;
}

.input-address-fields label{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    font-weight: 500;
}

.input-address-fields textarea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #DCDCDC;
    opacity: 1;
    width: 96%;
    resize: none;
    outline: none;
    font: normal normal normal 13px/16px Roboto;
    padding-left: 7px;
}


.city-state-fields{
    display: flex;
}

.city-state-fields div{
    width: 100%;
}

.city-state-fields div label{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    font-weight: 500;
}

.city-state-fields div input{
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #DCDCDC;
    opacity: 1;
    width: 92%;
    padding-left: 7px;
}


.disableMode{
    //background: #F5F5F5 0% 0% no-repeat padding-box;
    background-color: #F5F5F5 !important;
}

.ChangeType{
    margin-top: 15px;
}

.ChangeType span input{
    margin: 0px 6px 0px 0px;
    position: relative;
    top: 1px;
}

.ChangeType-m2{
    margin-left: 16%;
}

@media only screen and (min-width:2px) and (max-width:480px){
    .city-state-fields{
        display: block;
    }
    .input-address-fields textarea{
        width: 92%;
    }

}
