// :root{
//     --
// }

// .font-style-store{

// }

.border{
    border: 2px solid;
}

.nav-container{
    width: 100%;//1566
    //border: 2px solid white;
    height: 60px;
    background-color: #A03037;
    display: grid;
    grid-template-columns: 28% 44% 28%;
    position: sticky;
    top: 0px;
    z-index: 1;
}



.nav-container .nav-col1{
    //border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-col1 img{
    cursor: pointer;
}

.nav-col1 p{
    width: 91px;
    height: 26px;
    margin: 5px 40px 0px 5px ;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    cursor: pointer;
}




//====================================================
.nav-container .nav-col2{
    //border: 2px solid;
    display: flex;
    align-items: center;
}

.nav-col2 .search-row{
    left: 334px;
    width: 490px;
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    align-items: center;
}

.search-row mat-icon{
    margin-left: 10px;
    opacity: 0.65;
}

.search-row input{
    margin-left: 7px;
    width: 300px;
    height: 16px;
    text-align: left;
    font: normal normal normal 16px/18px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    outline: none;
    border: none;
}

//==========================
// .nav-container .nav-col3{
//     //border: 2px solid;
// }

.nav-col3 .profile-cart{
    width: 215px;
    //height: 60px;
    //border: 2px solid;
    display: flex;
    justify-content: space-around;
}

.person{
    text-align: center;
    color: white;
}

.person span{
    margin-top: 7px;
    height: 15px;
    cursor: pointer;
    //background: transparent url('img/supermarket.png') 0% 0% no-repeat padding-box;
}

.person label{
    width: 31px;
    //height: 13px;
    text-align: left;
    height: 7px;
    position: relative;
    bottom: 6px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
    cursor: pointer;
}



.cart{
    text-align: center;
    color: white;
}

.cart span{
    //border: 2px solid;
    margin-top: 9px;
    height: 16px;   
    //background: transparent url('img/supermarket.png') 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.cart label{
    width: 31px;
    //border: 2px solid;
    height: 7px;
    position: relative;
    bottom: 6px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}

.WelcomeDialog{
    position: absolute;
    top: 65px;
    //border: 2px solid;
    box-shadow: rgba(111, 108, 108, 0.202) 2px 2px 5px 5px ;
    width: 261px;
    border-radius: 3px;
    padding: 13px;
    background-color: white;
}

.WelcomeDialog b{
    font-size: small;
}

.WelcomeDialog mat-hint{
    font-size: small;
    
}

.WelcomeDialog span{
    padding: 3px 15px;
    border-radius: 2px;
    margin-top: 3px;
    border: 2px solid #A03037;
    color: #A03037;
    position: relative;
    bottom: 5px;
}

.WelcomeDialog span a{
    font-size: 12px;
    color: #A03037;
    cursor: pointer;
}


.WelcomeDialog mat-divider{
    margin-top: 8px;
}

.WelcomeDialog ul{
    list-style: none;
    padding: 0px;
}

.WelcomeDialog ul li{
    font-style: Roboto;
    letter-spacing: 0px;
    color: #514c4c;
    height: 25px;
    //border: 2px solid;
    padding-left: 15px;
    border-radius: 3px;
    cursor: pointer;
    padding-bottom: 6px;
}


.WelcomeDialog ul li:hover{
    background-color: #FF6868;
    color: white !important;
}

.WelcomeDialog ul li:hover mat-hint, .WelcomeDialog ul li:hover span{
    color: white !important;
}

.WelcomeDialog ul li span{
    font-size: 19px;
    position: relative;
    top: 4px;
    border: none;
    padding: 0px;
    color: rgb(124, 121, 121);

}


.WelcomeDialog ul li mat-hint{
    margin-left: 6px;
}




.loginDialog{
    position: absolute;
    top: 65px;
    //border: 2px solid;
    box-shadow: rgba(111, 108, 108, 0.202) 2px 2px 5px 5px ;
    width: 160px;
    border-radius: 3px;
    background-color: white;
    padding: 10px 0px;
}

.loginDialog b{
    margin-left: 18px;
}

.loginDialog ul{
    list-style: none;
    padding: 0px;
}

.loginDialog ul li{
    font-style: Roboto;
    letter-spacing: 0px;
    color: #514c4c;
    height: 25px;
    //border: 2px solid;
    padding-left: 15px;
    //border-radius: 3px;
    cursor: pointer;
    
}

.loginDialog ul li:hover{
    background-color: #FF6868;
    color: white;
}

.loginDialog ul li:hover mat-hint{
    color: white;
}

.loginDialog ul li span{
    font-size: 19px;
    position: relative;
    top: 4px;
}

.loginDialog ul li mat-hint{
    margin-left: 6px;
}


.loginDialog button{
    margin-left: 17px;
    width: 90px;
    height: 30px;   
    border: 2px solid #A03037;
    background-color: white;
    border-radius: 3px;
    color: #A03037;
    cursor: pointer;    
    margin-bottom: 4px;
}

@media only screen and (min-width:769px) and (max-width:1268px){
    .WelcomeDialog{
        right: 20px;
    }
}


@media only screen and (min-width:481px) and (max-width:768px){
    .nav-col2 .search-row{
        left: 204px;
        width: 100%;

    }
    .search-row input{
        margin-left: 7px;
        width:100%;

    }
    .nav-col3 .profile-cart{
        width: 130px;//215
    }
    .nav-container{
        grid-template-columns: 32% 44% 24%;
    }
    .nav-col1 p{
        margin: 5px 15px 0px 5px ;
    }

    .loginDialog{
        right: 20px;
    }
    .WelcomeDialog{
        right: 20px;
    }
}


@media only screen and (min-width:0px) and (max-width:480px){
    .nav-col2 .search-row{
        left: 204px;
        width: 100%;

    }
    .search-row input{
        margin-left: 7px;
        width: 100%;

    }
    .nav-col3 .profile-cart{
        width: 100px;//215
    }
    .nav-col1 p{
        margin: 5px 8px 0px 5px ;
    }

    .nav-container{
        grid-template-columns: 35% 41% 24%;
    }

    .loginDialog{
        right: 20px;
    }
    .WelcomeDialog{
        right: 20px;
    }

}

