<nav class="nav-container">

    <div class="nav-col1">
        <img src="../../assets/BookLogo.png" alt="Book" srcset="" height="24px" width="31px" routerLink="/cards">
        <p routerLink="/cards">Bookstore</p>
    </div>

    <div class="nav-col2">
        <div class="search-row">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search">
        </div>
    </div>

    <div class="nav-col3">
        <div class="WelcomeDialog" *ngIf="openDialog">
            <b>Welcome</b>
            <br>
            <mat-hint>To access account and manage orders</mat-hint>
            <br><br>
            <span><a (click)="login()">LOGIN </a>/ <a>SIGNUP</a></span>
            <br>
            <mat-divider></mat-divider>
            <ul>
                <li ><span class="material-symbols-outlined">redeem</span><mat-hint>My Orders</mat-hint></li>
                <li (click)="beforeSignInGotoWishList()"><span class="material-symbols-outlined"> favorite </span><mat-hint>Wishlist</mat-hint></li>
            </ul>
        </div>

        <div class="loginDialog" *ngIf="openList">
            <b>Hi {{userName}}</b>
            <ul>
                <li (click)="afterLoginGotoProfile()"><span class="material-symbols-outlined">person</span> <mat-hint>Profile</mat-hint></li>
                <li (click)="afterLogInGotoOders()"><span class="material-symbols-outlined">redeem</span><mat-hint>My Orders</mat-hint></li>
                <li (click)="afterLogInGotoWishList()"><span class="material-symbols-outlined"> favorite </span><mat-hint>Wishlist</mat-hint></li>
            </ul>
            <button (click)="logout()">Logout</button>
        </div>

        <div class="profile-cart">
            <span class="person">
                <span class="material-symbols-outlined" (click)="callOpenDialog()">person</span>
                    <br>
                <label for="">{{userName}}</label>
            </span>

            <span class="cart">
                <span class="material-symbols-outlined" matBadge="{{notification}}" (click)="goToCart()">shopping_cart</span>
                    <br>
                <label for="">Cart</label>
            </span>
        </div>
    </div>
</nav>


