<div class="main-container">
    <div class="img-row">
        <img src="../../../assets/OrderSuccess.jpg" alt="success order" srcset="">
    </div>
    <div>
        <span>Hurray!!! Your order is Confirmed</span><br>
        <span>The order id is #{{OrderNum}} save the order id for</span><br>
        <span>further communication..</span>
    </div>
    <div>
        <div class="table-header">
            <span>Email us</span>
            <span>Contact us</span>
            <span>Address</span>
        </div>
        <div class="table-body">
            <div  class="table-body-r-1">
                <span>admin@bookstore.com</span>
            </div>
            <div class="table-body-r-2">
                <span>+91 8163475881</span>
            </div>
            <div class="table-body-r-3">
                <span>42, 14th Main, 15th Cross, Sector 4, opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</span>
            </div>
        </div>
    </div>
    <div class="continue-shopping">
        <button routerLink="/cards">CONTINUE SHOPPING</button>
    </div>

</div>

<app-footer></app-footer>