


.main-container{
    width: 100%;
    margin-top: 25px;
}

.homeOrMyorder{
    width: 66%;
    margin: 0px auto;
    margin-top: 15px;
    height: 40px;
    //border: 2px solid;

}

.homeOrMyorder mat-hint, .homeOrMyorder span{
    cursor: pointer;

}

// .order-row{

// }
.not-present{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.present{
    width: 100%;
    position: relative;
    top: 100px;

}

