


.main-container{
    width: 100%;
}

.homeOrMyorder{
    width: 66%;
    margin: 0px auto;
    margin-top: 15px;
    height: 40px;
    border: 2px solid;

}

.homeOrMyorder mat-hint, .homeOrMyorder span{
    cursor: pointer;

}

// .order-row{

// }
