<div class="main-container">
    <div class="homeOrProfile">
        <mat-hint routerLink="/cards">Home</mat-hint> / <span>Profile</span>
    </div>

    <div class="profile-Container" *ngIf="User">
        <div class="profile-header">
            <span><p>Personal Details</p>
                <small *ngIf="!isEditMode" (click)="toggleEditMode()">Edit</small>
                <small *ngIf="isEditMode" (click)="cancelEdit()">Cancel</small>
            </span>
            <button *ngIf="isEditMode" (click)="saveUserUpdatedDetails()">Save</button>
        </div>
        <div class="form-fields">
            <label>Full Name</label><br>
            <input type="text" [(ngModel)]="User.fullName" [disabled]="!isEditMode">
        </div>
        <div class="form-fields">
            <label>Email Id</label><br>
            <input type="text" [(ngModel)]="User.email" [disabled]="!isEditMode">
        </div>
        <!-- <div class="form-fields">
            <label>Password</label><br>
            <input type="text" placeholder="Password" [disabled]="!isEditMode">
        </div> -->
        <div class="form-fields">
            <label>Mobile Number</label><br>
            <input type="text" [(ngModel)]="User.phone" [disabled]="!isEditMode">
        </div>
    </div>    

    <div class="profile-Container">
        <div class="adddress-details">
            <p>Address Details</p>
            <button>Add New Address</button>
        </div>
        <div class="address-loop">
            <ng-container *ngFor="let list of AllAddressOfUser;index as i">
                <!-- <app-address [Address]="list" [index]="i" ></app-address> -->
                <app-address-profile [Address]="list" [index]="i"></app-address-profile>
            </ng-container>
        </div>
    </div>
</div>
<app-footer></app-footer>


