
.main-container{
    width: 100%;
    margin-top: 25px;
}

.homeOrProfile{
    width: 66%;
    margin: 0px auto;
    margin-top: 15px;
    height: 40px;
    //border: 2px solid;

}

.homeOrProfile mat-hint, .homeOrProfile span{
    cursor: pointer;

}

.profile-Container{
    width: 35%;
    //border: 2px solid;
    margin-left: 20%;
}

.profile-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-header span{
    display: flex;
    
}

.profile-header span p{
    font-weight: 600;
    font-size: large;
}

.profile-header span small{
    color: #A03037;
    font-weight: 500;
    margin: 3px 0px 0px 15px;
    cursor: pointer;
}

.profile-header button{
    width: 100px;
    text-transform: uppercase;
    background-color: #3371B5;
    color: white;
    border: none;
    letter-spacing: 1.5px;
    border-radius: 2px;
    float: right;
    height: 34px;
}

.form-fields label{
    font: normal normal normal 14px/15px Roboto;
    color: #0A0102;
    font-weight: 400;
}

.form-fields input{
    height: 45px;
    border: 2px solid #E2E2E2;
    width: 97.2%;
    padding-left: 10px;
    outline: none;
    font-size: 16px;    
    color: #878787;
    margin-bottom: 7px;
    //background-color: #F5F5F5;
}


@media only screen and (min-width:768px) and (max-width:1279px){
    .profile-Container{
        width: 49%;
        //border: 2px solid;
    }
}

@media only screen and (min-width:481px) and (max-width:768px){
    .profile-Container{
        width: 55%;
        //border: 2px solid;
    }

    .form-fields input{
        width: 96.2%;
    }
}

@media only screen and (min-width:2px) and (max-width:480px){
    .profile-Container{
        width: 68%;
        //border: 2px solid;
        margin-left: 15%;
    }

    .homeOrProfile{
        width: 80%;
    
    }

    .form-fields input{
        width: 95.2%;
    }

}
