<div class="container-card">
    <div class="order-card-row1">
        <img src="{{Order.image}}" alt="" width="75px" height="95px">
    </div>

    <div class="order-card-row2">
        <p>{{Order.title}}</p>
        <mat-hint>by {{Order.auther}}</mat-hint>
        <br><br>
        <b>Rs. {{Order.price}}</b> <mat-hint class="actual-price">Rs. {{Order.actualPrice}}</mat-hint>
    </div>

    <div class="order-card-row3">
        <ul>
            <li><b>order placed on {{OrderDate}}</b></li>
        </ul>
    </div>
</div>