


.container-card{
    width: 66%;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 1px solid #E4E4E4;
    display: grid;
    grid-template-columns: 160px 590px 250px;
}

.order-card-row1{
    width: 140px;
    height: 175px;
    //border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}



.order-card-row2 p{
    margin-top: 36px;
    font-size: x-large;
    font-weight: 500;
}

.order-card-row2 b{
    font-size: x-large;
    margin-top: 5px;
    
}

.order-card-row2 .actual-price{
    margin-left: 10px;
    text-decoration: line-through;
}

// .order-card-row3 {
//     border: 2px solid;
// }

.order-card-row3 ul li {
    //list-style: ;
    color: green;
    list-style-type: disc;
}

.order-card-row3 ul li b{
    color:  black;
}

@media only screen and (min-width:768px) and (max-width:1279px){
    .container-card{
        display: grid;
        grid-template-columns: 150px 44% auto;
    }
    .order-card-row3 ul{
        padding-left: 10px;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    .container-card{
        display: grid;
        grid-template-columns: 150px auto;
    }
    .order-card-row3{
        grid-column-start: 2;
    }
    .order-card-row3 ul{
        padding-left: 10px;
    }
}
@media only screen and(min-width:10px) and (max-width:480px){
    .container-card{
        display: grid;
        grid-template-columns: 100%;
    }
    .order-card-row1{
        margin: 0px auto;
    }
    .order-card-row2{
        margin-left: 40px;
    }
    .order-card-row3 ul{
        padding-left: 15px;
        margin-left: 40px;
    }
} 


