<nav class="nav-container">

    <div class="nav-col1">
        <img src="../../assets/BookLogo.png" alt="Book" srcset="" height="24px" width="31px">
        <p>Bookstore</p>
    </div>

</nav>

<br><br><br><br><br>

<h1>Forget Your Password</h1>

<div class="resetCard">
    <div class="card-row1">
        <br>
        <p>Enter your email address and we'll send you a link to reset your password.</p>
        <label for="">Email Id</label>  
        <br>
        <input type="text">
        <br><br>
        <button>Reset Password</button>
    </div>
    <div class="card-row2">
        Create Account
    </div>
</div>